
.body {
    margin: 0;
    padding: 0;
    background-color: #19819d;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family:cursive;

}

.title {
    text-align: center;
    color: white;
}

.container-images {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.img-invertida {
    transform: scaleX(-1);
}

.vs {
    margin-left: 1rem;
    margin-right: 1rem;
}

.container-buttons {
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.text-options{
    /* margin-top: 3rem; */
    text-align: center;
    color: white;
}

.img-button {
    border-radius: 10%;
    box-shadow: 2px 2px 2px 2px;
}

.container-button-ok{
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

.img-button-ok {
    border-radius: 10%;
    box-shadow: 2px 2px 2px 2px;
}

.img-button-ok:hover {
    cursor: pointer;
}

.img-button:hover {
    box-shadow: 2px 2px 2px 2px rgb(175, 20, 20);
    cursor: pointer;
    transition: ease-in 0.2s;
}

.footer {
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer h3 {
    color: white;
    text-align: center;
}




/* qwe */